*{
    padding: 0;
    margin: 0;
}

.bigbox{
    background-color:#FDEBD0;
}

.header{
    width: 100%;
    height: 90vh

}

.banner{
    background-image: linear-gradient(rgba(255, 255, 255, 0.342),rgba(255, 68, 0, 0.413)),url(img/ban1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
}

.title{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 33px;
    padding-top: 20rem;
   padding-left: 13rem;
}


.nav{
    width: 80%;
    height: 11vh;
    background-color:rgba(255, 68, 0, 0.856);
    margin: auto;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    margin-top: -34rem;
}

.logo img{
    width: 50px;
    margin-top: 0.2em;
    margin-left: 1em;
    border-radius: 50%;
}
.logo:hover{
    cursor: pointer;
    transition: 0.5 ease-in;
    transform: scale(1.5);
}



.info{
    display: flex;
    margin-top: -0.5em;
    margin-left: -0.8em;

}

.info li{
    margin-left: 2em;
    margin-top: 1em;
    color: rgb(4, 14, 73);
    list-style: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

.info li:hover{
     cursor: pointer;
    transition: 0.5s ease;
    color: white;
    transform: scale(1.1);
    text-decoration: underline;

}

/* end of navbar */

.container1{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
 
}

.box1{
    width: 30%;
    height: 30vh;
    background-color: white;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
}

.box2{
    width: 30%;
    height: 30vh;
    background-color: white;
    text-align: center;
     margin-left: 10px;
    margin-top: 5px;
}

.box3{
    width: 30%;
    height: 30vh;
     margin-left: 10px;
    margin-top: 5px;

}


.hr{
    color: orangered;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-top: 20px;
    transition: 0.5s ease;
}
.hr:hover{
     transform: scale(1.6);
     cursor:default;
}

.pr{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    color:rgb(4, 14, 73) ;
    margin-top: 20px;
}

.box3 .pic1{
       width: 100%;
    max-width: 100%;
    height: 30vh;
    object-fit: cover;
}

/* end of container */
.box4{
    width: 20%;
    height: 10vh;
    background: transparent;
    margin-top: -5px;
    margin-left: 30px;
    text-align: center;
}

.box4 .lr{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: orangered;
    background-color: rgb(4, 14, 73);
    margin-top: 20px;
    width: 100%;
    height: 10vh;
    border: none;
    transition: 0.5s;
}

.box4 .lr:hover{
    cursor: pointer;
    color: white;
}

.container2{
    width: 80%;
    height: 80vh;
    margin-left: 4em;
    margin-top: 4em;
    display: flex;
}
.box5{
    background-image: url(img/grpd.jpg);
    width: 50%;
    border-radius: 50px;
    border: solid 5px orange;

}

.box6{
    width:50%;
    height: 70vh;
    background-color: white;
    border-radius: 40px;
    margin-top: 2em;
    margin-left: 10em;
    border: solid 5px orangered;

}

.box6 h2{
    padding: 20px;
    color: orangered;
    font-size: 25px;
    font-weight: bolder;

}

.box6 p{
    padding: 10px;
    color: black;
    font-size: 20px;
}

footer{
    width: 100%;
    height: 80vh;
    background-color: rgba(4, 13, 96, 0.813);
    margin-top: -15px;
}
.wrapper{
    width: 100%;
    height: 70vh;
    margin-top: 40px;
    display: flex;
}

.section1{
    width: 30%;
    height: 50vh;
    margin: 20px;
    margin-bottom: 20px;
    
}

.icons a{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    list-style: none;
   
}
.icons .i1{
     transition: 0.5s ease;
}

.icons .i1:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.icons .i2{
     transition: 0.5s ease;
}

.icons .i2:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.icons .i3{
     transition: 0.5s ease;
}

.icons .i3:hover{
    cursor: pointer;
    transform: scale(1.5);
}
icons .i4{
     transition: 0.5s ease;
}

.icons .i4:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.section1 h1{
    color: orangered;
    font-family: sans-serif;
    padding-top: 10px;
}

.section1 p{
    color: rgb(252, 251, 250);
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
}

.section2{
    margin: 20px;
    margin-bottom: 20px;
    margin-left: 5rem;
}

.section2 h2{
     color: orangered;
    font-family: sans-serif;
    padding-top: 15px;
    padding-left: 50px;
}

.section2 ul{
    margin-left: 26px;
    padding: 20px;  
}

.section2 ul li{
    color: white;
    padding: 6px;
    transition: 0.5s ease-in;

}
.section2 ul li:hover{
    color: orange;
    text-decoration: underline;
    transform: scaleX(1.1);
}

.section3{
    width: 30%;
    height: 50vh;
    margin: 20px;
    margin-bottom: 10px;
    margin-left: 8rem;   
}

.section3 h1{
      color: orangered;
    font-family: sans-serif;
    padding-top: 15px;
    padding-left: 50px;
}

.section3 p{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 15px;
    padding: 20px;
    transition: 0.5s ease;

}

.section3 p:hover{
    color: orange;
    text-decoration: underline;
    transform: scaleX(1.1);
}

.section4{
    width: 100%;
    height: 10vh;
    background-color: rgb(1, 1, 29);
}
.section4 hr{
    background-color: white;
    height: 2px;
    border: none;
}
 
.section4 p{
    color: rgba(255, 166, 0, 0.744);
    margin-left: 25rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: lighter;
}