*{
    padding: 0;
    margin: 0;
}

body{
   background-color:#FDEBD0;
   
}

.header{
    width: 90%;
    height: 15vh;
    padding: 15px;
    margin: auto;
}

.nav{
    width:100%;
    height: 11vh;
    background-color:rgba(255, 68, 0, 0.856);
    margin: auto;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    margin-top: -0.3rem;
}

.logo img{
    width: 50px;
    margin-top: 0.2em;
    margin-left: 1em;
    border-radius: 50%;
}
.logo:hover{
    cursor: pointer;
    transition: 0.5 ease-in;
    transform: scale(1.5);
}



.info{
    display: flex;
    margin-top: -0.2em;
    margin-left: -0.5em;
    gap: 15px;

}

.info li{
    margin-left: 2em;
    margin-top: 1em;
    color: rgb(4, 14, 73);
    list-style: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
}

.info li:hover{
     cursor: pointer;
    transition: 0.5s ease;
    color: white;
    transform: scale(1.1);
    text-decoration: underline;
}

.donate {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(245, 75, 1, 0.6)),url("../img/donate.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px;
  border: #f44b02 solid 4px;
  border-radius: 50px;
  width: 80%;
  margin: auto;

}

.donate-container {
  background: #fff;
  padding: 40px;
  width: 350px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}

.donate-container h2 {
  margin-bottom: 10px;
  color: orangered;
  margin-top: -10px;
}

.donation-options {
  margin: 20px;
}

.donation-options button {
  margin: 5px;
  padding: 15px;
  border: none;
  background: #f39c12;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.donation-options button:hover {
  background: #f44b02;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.donate-btn {
  width: 40%;
  height: 50px;
  padding: 10px;
  background: #27ae60;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.donate-btn:hover {
  background: #219150;
}


footer{
    width: 100%;
    height: 80vh;
    background-color: rgba(4, 13, 96, 0.813);
    margin-top: -15px;
}
.wrapper{
    width: 100%;
    height: 70vh;
    margin-top: 40px;
    display: flex;
}

.section1{
    width: 30%;
    height: 50vh;
    margin: 20px;
    margin-bottom: 20px;
    
}

.icons a{
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    list-style: none;
   
}
.icons .i1{
     transition: 0.5s ease;
}

.icons .i1:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.icons .i2{
     transition: 0.5s ease;
}

.icons .i2:hover{
    cursor: pointer;
    transform: scale(1.5);
}
.icons .i3{
     transition: 0.5s ease;
}

.icons .i3:hover{
    cursor: pointer;
    transform: scale(1.5);
}
icons .i4{
     transition: 0.5s ease;
}

.icons .i4:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.section1 h1{
    color: orangered;
    font-family: sans-serif;
    padding-top: 10px;
}

.section1 p{
    color: rgb(252, 251, 250);
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
}

.section2{
    margin: 20px;
    margin-bottom: 20px;
    margin-left: 5rem;
}

.section2 h2{
     color: orangered;
    font-family: sans-serif;
    padding-top: 15px;
    padding-left: 50px;
}

.section2 ul{
    margin-left: 26px;
    padding: 20px;  
}

.section2 ul li{
    color: white;
    padding: 6px;
    transition: 0.5s ease-in;

}
.section2 ul li:hover{
    color: orange;
    text-decoration: underline;
    transform: scaleX(1.1);
}

.section3{
    width: 30%;
    height: 50vh;
    margin: 20px;
    margin-bottom: 10px;
    margin-left: 8rem;   
}

.section3 h1{
      color: orangered;
    font-family: sans-serif;
    padding-top: 15px;
    padding-left: 50px;
}

.section3 p{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    margin-left: 15px;
    padding: 20px;
    transition: 0.5s ease;

}

.section3 p:hover{
    color: orange;
    text-decoration: underline;
    transform: scaleX(1.1);
}

.section4{
    width: 100%;
    height: 10vh;
    background-color: rgb(1, 1, 29);
}
.section4 hr{
    background-color: white;
    height: 2px;
    border: none;
}
 
.section4 p{
    color: rgba(255, 166, 0, 0.744);
    margin-left: 25rem;
    margin-top: 1rem;
    font-size: 20px;
    font-weight: lighter;
}